root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yaml,yml,md,txt,csv}]
end_of_line = lf

[*.py]
end_of_line = lf

[*.ps1]
end_of_line = lf

[*.{c,h,cpp,hpp,s,S}]
end_of_line = lf

[*.{sln,vcproj,vcxproj,props,filters,rc,rc2}]
end_of_line = crlf

[*.{bat,cmd}]
end_of_line = crlf
