#Files
*.build_log.htm
*.cbuild.yml
*.cbuild-*.yml
*.clangd
*.cprj
*.dep
*.err
*.ewt
*.htm
*.log
*.scvd
*.txt
*.uvgui.*
*.uvguix.*
all.eww
all.uvmpw*
!CMakeLists.txt

# Folders
.metadata/
.settings/
.vs/
build/
Listings/
lst/
Obj/
obj/
Objects/
out/
Output/
Release/
RTE/
settings/
tmp/
