#Files
*.uvgui.*
*.uvguix.*
*.log
*.txt
*.scvd
*.dep
*.ewt
*.clangd
*.htm
*.cprj
*.build_log.htm
!CMakeLists.txt
*.cbuild-*.yml
*.cbuild.yml
all.uvmpw*
all.eww
compile_commands.json

# Folders
Obj/
.settings/
settings/
lst/
obj/
Listings/
Objects/
Output/
Release/
.vs/
out/
build/
.metadata/
tmp/
.cache/
CMakeFiles/